body {
    background-color: #007363;
    margin: 0;
    height: 1000px;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40px 620px 240px 50px;
    justify-items: center;
}

.header {
    width: 80%;
    height: 600px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 10% auto;
    grid-column: 1;
    grid-row: 2;
    font-family: 'Rubik', sans-serif;
    color: white;
    text-align: center;
    justify-items: center;
}

.header .thank {
    grid-column: 1;
    grid-row: 1;
    font-size: 40px;
    font-weight: 600;
    color: white;
}

.header .consider {
    grid-column: 1;
    grid-row: 2;
    font-size: 100%;
    color: white;
}

.header .fam {
    grid-column: 1;
    grid-row: 3;
    width: 90%;
    max-width: 300px;
}

.body {
    grid-column: 1;
    grid-row: 3;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 100;
    color: white;
    text-align: center;
    width: 80%;
    max-width: 400px;
}

.body .back {
    font-size: 12px;
    color: white;
    border-radius: 50px;
    text-decoration: underline;
}

.body button {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 17px;
    background-color: orange;
    color: white;
    border-radius: 50px;
    border-style: none;
    padding: 15px;
}

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    grid-row: 5;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 6px;
    font-family: 'Rubik', sans-serif;
    font-weight: 100;
    text-align: center;
    display: grid;
}